# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.xcodeproj
DerivedData/

# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.AppleDouble
.LSOverride
Icon

# Logs
*.log
